.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;

}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  position: relative;
  outline: 1px solid red;
  color: #000 ;
  display: flex;
  align-items: center;
  background-color:  #f2f2f2;

}
 /* зачем нужен блок лого? */

.logo {
  outline: 1px solid red;

}

.logo__place_header {
  width: 228px;
  height: 32px;
  position: absolute;
  top: 30px;
  left: 64px;

}

.title {
  outline: 1px solid red;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;
  width: 730px;
  z-index: 3;

}

.header__title {
  margin-left: 64px;


}

.header__subtitle {
  outline: 1px solid red;
  position: absolute;
  bottom: 30px;
  left: 64px;
  z-index: 2;
  font-size: 18px;
  line-height: 25px;
  font-weight: normal;
  width: 388px;
}
/* ссылка никуда не ведет */
.header__link {
  color: #2f80ed;
  text-decoration: none;

}

.header__main-illustration {
  min-width: none;width: 765px;
  min-height: 608;
  outline: 1px solid red;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index:1 ;
  object-fit: cover;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  outline: 1px solid red;
  position: absolute;
  top: 64px;
  right: 0;
  z-index: 0;
}
/* -------------------------------------------------------------------------------------------  */
.description {
  display: flex;
  justify-content: center;
  min-height: 332px;
  color: #000 ;

}

.two-columns {
  width: 80%;
  display: flex;
  outline: 1px solid red;
}

.two-columns__description {
   margin: 100px auto ;
}

.two-columns__brief {
  width: 175px;
  outline: 1px solid red;

}

.two-columns__brief-title {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin-top: 0;

}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  /* не работает в сафари, зато работает в хром */
  gap: 30px;
  justify-content: space-between;

}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;

}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

/* ------------------------------------------------------------------------------------------------ */

.digits {
  color: #000 ;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.digits__section-title {
  margin: 0;
  width: 660px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  outline: 1px solid red;
  text-align: center;
}

.digits__section-subtitle {
  width: 660px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  outline: 1px solid red;
  text-align: center;
}

.table {
  width: 1100px;
  min-height: 300px;
  outline: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 60px 30px;

}
.table__cell {
  width: 250px;
  min-height: 50px;
  outline: 1px solid red;
}

.table__cell_digits {
  }

.digits-head {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  outline: 1px solid red;
}

.digits-text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  outline: 1px solid red;
}
/* ------------------------------------------------- */

.feynman {
  color: #000 ;
  position: relative;
  min-height: 890px;
  background-image: url(/images/feynman.png);
  background-position: bottom left 0;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  outline: 1px solid red;

}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  text-align: center;
  outline: 1px solid red;
}

.feynman__title-position {
  width: 648px;
  outline: 1px solid red;
}

.feynman__subtitle {
  outline: 1px solid red;

}

.feynman__subtitle-position {
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  outline: 1px solid red;

}

.feynman__link {
  width: 250px;
  min-height: 52px;
  position: absolute;
  top: 50%;
  right: 48px;
  outline: 1px solid red;
}

.feynman__link-about {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}








/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
